Source: isso
Maintainer: Jan Graichen <jg@altimos.de>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3),
               debhelper (>= 7.4.3)
Standards-Version: 3.9.1
Vcs-Browser: http://github.com/jgraichen/debian-isso
Vcs-Git: git://github.com/jgraichen/debian-isso.git

Package: isso
Architecture: all
Depends: gunicorn, lsb-base (>= 3.0-6), ${misc:Depends}, ${python:Depends}
Conflicts: isso-common
Replaces: isso-common
Recommends: ${python:Recommends}
Description: lightweight Disqus alternative
 .
 This package provides the Python 2.x module.

