[Unit]
Description=lightweight Disqus alternative

[Service]
User=isso
ExecStart=/usr/bin/gunicorn --preload --env ISSO_SETTINGS=/etc/isso.conf isso.run

[Install]
WantedBy=multi-user.target
