#!/usr/bin/make -f

PYTHONS:=$(shell pyversions -vr)

%:
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_auto_clean:
	echo "Nothing to do"

override_dh_auto_install:
	set -e && for pyvers in $(PYTHONS); do \
		python$$pyvers setup.py install --install-layout=deb \
			--root $(CURDIR)/debian/isso; \
	done
